<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h2>URL shortener</h2>
    <form action="/url" method="POST">
        <input type="text" name="actURL" placeholder="enter your URL here" required/>
        <button type="submit">Generate</button>
    </form>
</body>
</html>